@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
#principio {
    width: 100%;
    height: 700px;
    background-color: var(--main-color);
    margin-top:-140PX;
    visibility:hidden;
}

#principio  h1 {
     font-family: 'Bebas Neue', cursive;
     font-family: 'Roboto Slab', serif;
     font-size: 250%;
     color: white;
     text-align: center;
     padding-top: 35%;
}

#principio  .preloader {
    width: 200px;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border: 5px solid #eee;
    border-top: 5px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#principio #footer {
    color: #fff;
    font-size: 80%;
    width: 210px;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto Slab', serif;
    background-color: var(--main-color);
    color: #fff;
    padding: 20px;
}

#inicio{
    visibility: ;
}
